<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Radio Device</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Radio Device</h1>
        <div class="wifi-status">
            <div class="status-text" id="wifi-ssid">WiFi</div>
            <div class="status-indicator">
                <div class="indicator-circle" id="connection-status-circle"></div>
                <div class="status-message" id="connection-status-message">Connected</div>
            </div>
        </div>
        <div class="button-container">
            <a href="{{ url_for('wifi_settings') }}" class="wifi-settings-button">WiFi Settings</a>
        </div>
        <div class="input-group">
            <label for="link1">Channel 1:</label>
            <div class="input-row">
                <span id="link1" name="link1">{{ link1 }}</span>
                <button class="edit-button" onclick="toggleEdit('link1')">Change</button>
            </div>
        </div>
        <div class="input-group">
            <label for="link2">Channel 2:</label>
            <div class="input-row">
                <span id="link2" name="link2">{{ link2 }}</span>
                <button class="edit-button" onclick="toggleEdit('link2')">Change</button>
            </div>
        </div>
        <div class="input-group">
            <label for="link3">Channel 3:</label>
            <div class="input-row">
                <span id="link3" name="link3">{{ link3 }}</span>
                <button class="edit-button" onclick="toggleEdit('link3')">Change</button>
            </div>
        </div>
    </div>
    <script>
        function toggleEdit(id) {
            window.location.href = `/stream-select?channel=${id}`;
        }
        function updateWifiStatus() {
            fetch('/get_wifi_ssid')
                .then(response => response.json())
                .then(data => {
                    if (data.ssid) {
                        document.getElementById('wifi-ssid').textContent = `${data.ssid} WiFi`;
                    } else if (data.error) {
                        // If no Wi-Fi is connected, redirect to the Wi-Fi settings page
                        window.location.href = '/wifi-setup';
                    }
                })
                .catch(error => console.error('Error:', error));
        }
        function updateInternetStatus() {
            // Check internet connection by calling the server-side Flask route
            fetch('/check_internet_connection')
                .then(response => response.json())
                .then(data => {
                    if (data.connected) {
                        document.getElementById('connection-status-circle').style.backgroundColor = 'green';
                        document.getElementById('connection-status-message').textContent = 'Connected';
                    } else {
                        document.getElementById('connection-status-circle').style.backgroundColor = 'red';
                        document.getElementById('connection-status-message').textContent = 'No Internet connection';
                    }
                })
                .catch(error => {
                    console.log(data)
                    console.error('Error:', error);
                    document.getElementById('connection-status-circle').style.backgroundColor = 'blue';
                    document.getElementById('connection-status-message').textContent = 'No Internet connection';
                });
        }
        window.onload = function() {
            updateWifiStatus();
            updateInternetStatus();
        };
    </script>
</body>
</html>
