<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Stream</title>
    <link rel="stylesheet" href="static/css/styles.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Select Stream</h1>

        {% for link in spare_links %}
        <div class="stream-card" onclick="updateStream('{{ channel }}', '{{ link.url }}')">
            <div class="stream-details">
                <h2>{{ link.name }}</h2>
                <p>{{ link.country }}</p>
                <!--  <div class="tags">
                    {% for tag in link.tags %}
                        <span class="tag">{{ tag }}</span>
                    {% endfor %}
                </div> -->
            </div>

            <div class="play-button" onclick="playStream(event, '{{ link.url }}')">
                <div class="play-icon"></div>
            </div>
        </div>
        {% endfor %}
    </div>

    <script>
        function updateStream(channel, selectedLink) {
            fetch('/update-stream', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                },
                body: new URLSearchParams({ channel: channel, selected_link: selectedLink })
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                if (data.success){
                    window.location.href = '/'; // Redirect to home or the main page
                } else {
                    console.error('Update failed');
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }

        function playStream(event, url) {
            event.stopPropagation(); // Prevent the click from triggering the stream card's click event
            event.preventDefault(); // Prevent the default action of the anchor tag
            console.log("Playing stream for URL:", url); 

            fetch('/play-stream', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                },
                body: new URLSearchParams({ url: url })
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                console.log('Success:', data);
                // Optionally redirect or update the UI after successful update
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
    </script>
</body>
</html>
